<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albumai</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Top 20 albums of the 2020s so far</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Atlikėjas</th>
                <th>Pavadinimas</th>
                <th>Metai</th>
              <th>Žanras</th>
              <th>Vidutinė albumo kaina</th>
            </tr>
        </thead>
        <tbody id="albumai-body">
        </tbody>
    </table>

    <script src="/static/scripts.js"></script>
</body>
</html>
